doctype html
html(data-logic='login')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='theme-color', content='#009688')
    meta(name='msapplication-TileColor', content='#009688')
    // meta(name='msapplication-TileImage', content='/favicons/ms-icon-144x144.png')
    title= appconfig.title

    // Favicon - Disabled for now
    // each favsize in [57, 60, 72, 76, 114, 120, 144, 152, 180]
    //   link(rel='apple-touch-icon', sizes=favsize + 'x' + favsize, href='/favicons/apple-icon-' + favsize + 'x' + favsize + '.png')
    // link(rel='icon', type='image/png', sizes='192x192', href='/favicons/android-icon-192x192.png')
    // each favsize in [32, 96, 16]
    //   link(rel='icon', type='image/png', sizes=favsize + 'x' + favsize, href='/favicons/favicon-' + favsize + 'x' + favsize + '.png')
    link(rel='manifest', href='/manifest.json')

    // JS / CSS
    script(type='text/javascript', src=appconfig.host + '/js/vendor.js')
    script(type='text/javascript', src=appconfig.host + '/js/app.js')

  body
    #bg
      each bg in backgrounds
        div(style='background-image:url("uploads/backgrounds/'+bg+'");')
    #root
      h1= appconfig.title
      h2= t('auth:loginrequired')
      if appflash.length > 0
        h3
          i.icon-warning-outline
          = appflash[0].title
        h4= appflash[0].message
      if appconfig.auth.local.enabled
        form(method='post', action='/login')
          input#login-user(type='text', name='email', placeholder=t('auth:fields.emailuser'))
          input#login-pass(type='password', name='password', placeholder=t('auth:fields.password'))
          button(type='submit')= t('auth:actions.login')
      if appconfig.authStrategies.socialEnabled
        #social
          if appconfig.auth.local.enabled
            span= t('auth:loginusingalt')
          else
            span= t('auth:loginusing')
          if appconfig.auth.microsoft && appconfig.auth.microsoft.enabled
            button.ms(onclick='window.location.assign("/login/ms")')
              i.icon-windows2
              span= t('auth:providers.windowslive')
          if appconfig.auth.github && appconfig.auth.github.enabled
            button.github(onclick='window.location.assign("/login/github")')
              i.icon-github
              span= t('auth:providers.github')
          if appconfig.auth.oauth2 && appconfig.auth.oauth2.enabled
            button.slack(onclick='window.location.assign("/login/oauth2")')
              i.icon-box
              span= t('auth:providers.oauth2')
    #copyright
      = t('footer.poweredby') + ' '
      a.icon(href='https://github.com/louvekingdoms/WikiJSServer')
        i.icon-github
        |  WikiJS
