extends ../layout.pug

block rootNavCenter
  h2.nav-item= pageData.meta.title

block rootNavRight
  loading-spinner
  span.nav-item
    a.button.is-outlined(v-on:click='$store.dispatch("modalDiscardPage/open")')
      i.nc-icon-outline.ui-1_simple-remove
      span= t('nav.discard')
    a.button(v-on:click='$root.$emit("editor/save")')
      i.nc-icon-outline.ui-1_check
      span= t('nav.savechanges')

block content
  editor(inline-template, current-path=pageData.meta.path, v-cloak)
    .columns.is-gapless
    
      // Navigation for desktop
      .column.is-narrow.sidebar
        aside
          .sidebar-label
            span= t('sidebar.navigation')
          ul.sidebar-menu
            li(style='height:8px; border-bottom:1px solid #666666;margin:8px;margin-top:0px;')
            
            li
              a(href='/')
                i.nc-icon-outline.ui-1_home-minimal
                span= t('nav.root')
            li
              a(href='/all')
                i.nc-icon-outline.business_hierarchy-55
                span= t('nav.allpages')
            if pageData.parent
              li
                a(href='/' + pageData.parent.path)
                  i.icon-reply
                  span= pageData.parent.title
                  
            if pageData.children
                each child in pageData.children
                  li
                    a(href='/' + child.path)
                      i.icon-arrow-right2(style='padding-left:12px;')
                      span=child.title
    
      .column.editor-area
        textarea(ref='editorTextArea', v-pre)= pageData.markdown
      //- .column.editor-sd
        .editor-sd-item Images
        .editor-sd-item Files

  editor-file
  editor-video
  editor-codeblock
  modal-discard-page(mode='edit', current-path=pageData.meta.path)
  page-loader(text=t('loading.editor'))
